In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv('MLB2017only.csv')

In [6]:
temp=temp[['Team','Zips']]

In [7]:
temp

                     Team  Zips
0    Arizona Diamondbacks    77
1          Atlanta Braves    68
2       Baltimore Orioles    80
3          Boston Red Sox    93
4            Chicago Cubs    98
5       Chicago White Sox    73
6         Cincinnati Reds    73
7       Cleveland Indians    87
8        Colorado Rockies    82
9          Detroit Tigers    81
10         Houston Astros    90
11     Kansas City Royals    77
12     Los Angeles Angels    77
13    Los Angeles Dodgers    93
14          Miami Marlins    75
15      Milwaukee Brewers    74
16        Minnesota Twins    78
17          New York Mets    85
18       New York Yankees    81
19      Oakland Athletics    73
20  Philadelphia Phillies    67
21     Pittsburgh Pirates    83
22       San Diego Padres    65
23   San Francisco Giants    88
24       Seattle Mariners    85
25    St. Louis Cardinals    85
26         Tampa Bay Rays    82
27          Texas Rangers    84
28      Toronto Blue Jays    87
29   Washington Nationals    89

In [8]:
temp = pd.read_csv('MLB2018only.csv')

In [9]:
temp=temp[['Team','Zips']]

In [10]:
temp

                     Team  Zips
0    Arizona Diamondbacks    86
1          Atlanta Braves    79
2       Baltimore Orioles    77
3          Boston Red Sox    90
4            Chicago Cubs    94
5       Chicago White Sox    68
6         Cincinnati Reds    74
7       Cleveland Indians    94
8        Colorado Rockies    82
9          Detroit Tigers    68
10         Houston Astros    95
11     Kansas City Royals    69
12     Los Angeles Angels    85
13    Los Angeles Dodgers    95
14          Miami Marlins    64
15      Milwaukee Brewers    85
16        Minnesota Twins    85
17          New York Mets    80
18       New York Yankees    92
19      Oakland Athletics    76
20  Philadelphia Phillies    81
21     Pittsburgh Pirates    75
22       San Diego Padres    73
23   San Francisco Giants    83
24       Seattle Mariners    78
25    St. Louis Cardinals    87
26         Tampa Bay Rays    76
27          Texas Rangers    75
28      Toronto Blue Jays    80
29   Washington Nationals    89